@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500&display=swap");
a {
  text-decoration: none;
  color: rgb(25, 25, 25);
}
a :focus {
  outline: none;
}

input {
  border: none;
  outline: none;
}

.hidden {
  width: 1px;
  height: 1px;
  line-height: 0px;
  font-size: 0px;
  position: absolute;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  font-size: 62.5%;
  font-family: "noto sans kr";
  position: relative;
}

.navi-wrap {
  width: 100%;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid rgb(225, 225, 225);
}
.navi-wrap .navi-head {
  font-size: 0px;
  line-height: 0px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.navi-wrap .navi-body {
  background-color: rgb(236, 236, 236);
  box-sizing: border-box;
}
.navi-wrap .navi-body .gnb-wrap {
  width: 100%;
  height: auto;
}
.navi-wrap .navi-body .gnb-wrap .gnb-list {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.navi-wrap .navi-body .gnb-wrap .gnb-list .gnb-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.3rem;
}
.navi-wrap .navi-body .gnb-wrap .gnb-list .gnb-item .gnb-friend::after {
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  background: url(../svg/friend_line.svg) no-repeat center;
}
.navi-wrap .navi-body .gnb-wrap .gnb-list .gnb-item .gnb-chat {
  position: relative;
}
.navi-wrap .navi-body .gnb-wrap .gnb-list .gnb-item .gnb-chat .chat-count {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: tomato;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.2rem;
  right: -0.5rem;
  top: -0.2rem;
  font-family: "roboto";
}
.navi-wrap .navi-body .gnb-wrap .gnb-list .gnb-item .gnb-chat::after {
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  background: url(../svg/chat_fill.svg) no-repeat center;
}
.navi-wrap .navi-body .gnb-wrap .gnb-list .gnb-item .gnb-find::after {
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  background: url(../svg/find_line.svg) no-repeat center;
}
.navi-wrap .navi-body .gnb-wrap .gnb-list .gnb-item .gnb-more::after {
  content: "";
  display: block;
  width: 4rem;
  height: 4rem;
  background: url(../svg/more_line.svg) no-repeat center;
}