@import "../css/common.css";
@import "../css/comp_title.css";
@import "../css/comp_nav.css";
.header-notice {
  padding: 1.2rem 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: rgb(247, 247, 247);
  color: rgb(94, 94, 94);
  font-weight: 400;
}
.header-notice i {
  margin-right: 0.8rem;
  font-size: 1.8rem;
  color: rgb(197, 197, 197);
  position: relative;
  top: 0.1rem;
}

main {
  padding-bottom: 6.6rem;
}

.my-profile-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.my-profile-wrap:hover {
  background-color: rgb(248, 248, 248);
}
.my-profile-wrap .my-profile-avartar {
  width: 66px;
  height: 66px;
  border-radius: 2.4rem;
  margin: 1rem 0 1rem 2rem;
  background: url(../img/profile.jpg) no-repeat center;
  background-size: cover;
}
.my-profile-wrap .my-profile-name {
  font-size: 1.9rem;
  margin-left: 1.6rem;
  font-weight: 500;
  color: rgb(25, 25, 25);
}

.channel-container.friend {
  margin-top: 0rem;
}

.channel-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.channel-container .channel-wrap {
  width: 100%;
  padding: 0 2rem;
  box-sizing: border-box;
}
.channel-container .channel-wrap .scroll-wrap {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(153, 153, 153, 0.5);
  padding: 1.5rem 0 0 0;
  font-size: 1.4rem;
  color: rgb(153, 153, 153);
  font-weight: 400;
}

.channel-wrapper {
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.channel-wrapper:hover {
  background-color: rgb(248, 248, 248);
}
.channel-wrapper .channel-wrap-profile .channel-profile {
  width: 56px;
  height: 56px;
  border-radius: 1.8rem;
  background: url(https://play-lh.googleusercontent.com/cf3DwPLbS8Z55sDvUSTQ6PL1goPdm8KbZ81g4TEUAaeUh5LDhkzdjxKQ2RX6BGpv0x4) no-repeat center;
  background-size: cover;
}
.channel-wrapper .channel-text-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: 1.6rem;
}
.channel-wrapper .channel-text-wrap .channel-name {
  color: rgb(25, 25, 25);
  letter-spacing: -0.05rem;
  font-size: 1.8rem;
}
.channel-wrapper .channel-text-wrap .channel-count {
  color: rgb(153, 153, 153);
  font-size: 1.4rem;
}

.user-wrapper {
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
.user-wrapper:hover {
  background-color: rgb(248, 248, 248);
}
.user-wrapper .user-wrap-profile .user-profile {
  width: 56px;
  height: 56px;
  border-radius: 1.8rem;
}
.user-wrapper .user-text-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.8rem;
  margin-left: 1.6rem;
}
.user-wrapper .user-text-wrap .user-name {
  color: rgb(25, 25, 25);
  letter-spacing: -0.05rem;
  font-weight: 400;
}
.user-wrapper .user-text-wrap .user-count {
  color: rgb(153, 153, 153);
  font-size: 1.6rem;
}

.user-profile.user-1 {
  background: url(https://images.unsplash.com/photo-1633177188754-980c2a6b6266?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.user-profile.user-2 {
  background: url(https://images.unsplash.com/photo-1605583531014-a1857c53cd8f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: 0px;
}

.user-profile.user-3 {
  background: url(https://images.unsplash.com/photo-1612766957962-b85888e6b83b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: -16px;
}

.user-profile.user-4 {
  background: url(https://images.unsplash.com/photo-1605971981986-e623e8e16f33?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.user-profile.user-5 {
  background: url(https://images.unsplash.com/photo-1596438541521-3778fed1f293?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=685&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position-y: -26px;
}

.user-profile.user-6 {
  background: url(https://images.unsplash.com/photo-1581224463294-908316338239?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}