@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:wght@100;300;400;500&display=swap');
@import "variable";

a {
	text-decoration: none;
	color: $font-main-color;

	:focus{
		outline: none;
	}
}

input {
	border: none;
	outline: none;
}

.hidden {
	width: 1px;
	height: 1px;
	line-height: 0px;
	font-size: 0px;
	position: absolute;
}

html,
body {
	width: 100%;
	min-height: 100vh;
	font-size: 62.5%;
	font-family: "noto sans kr";
	position: relative;
	overflow-x: hidden;
}
