@import "variable", "common";

.navi-wrap{
	width: 100%;
	position: fixed;
	bottom: 0px;
	border-top: 1px solid rgb(225, 225, 225);

	.navi-head{
		@include hidden;
	}

	.navi-body{
		background-color: rgb(236, 236, 236);
		box-sizing: border-box;

		.gnb-wrap{
			width: 100%;
			height: auto;

			.gnb-list{
				display: flex;
				justify-content: space-around;
				width: 100%;

				.gnb-item{
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 1.3rem;

					.gnb-friend{
						&::after{
							content: '';
							display: block;
							width: 4rem;
							height: 4rem;
							background: url(../svg/friend_line.svg) no-repeat center;

						}
					}

					.gnb-chat{
						position: relative;

						.chat-count{
							width: 22px;
							height: 22px;
							border-radius: 50%;
							background-color: tomato;
							position: absolute;
							display: flex;
							justify-content: center;
							align-items: center;
							color: white;
							font-size: 1.2rem;
							right: -0.5rem;
							top: -0.2rem;
							font-family: 'roboto';
						}

						&::after{
							content: '';
							display: block;
							width: 4rem;
							height: 4rem;
							background: url(../svg/chat_fill.svg) no-repeat center;

						}
					}

					.gnb-find{
						&::after{
							content: '';
							display: block;
							width: 4rem;
							height: 4rem;
							background: url(../svg/find_line.svg) no-repeat center;

						}
					}

					.gnb-more{
						&::after{
							content: '';
							display: block;
							width: 4rem;
							height: 4rem;
							background: url(../svg/more_line.svg) no-repeat center;

						}
					}
				}
			}
		}
	}
}