<!-- 프로필 영역 -->
<header>
  <h1 class="hidden">카카오톡</h1>
  <div class="header-wrap">
    <h2 class="hidden">카카오톡 친구</h2>
    <div class="header-title">친구</div>
    <div class="header-icon">
      <ul class="icon-list">
        <li>
          <a href="#"> <i class="fa-solid fa-magnifying-glass"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-music"></i></a>
        </li>
        <li>
          <a href="#"><i class="fa-solid fa-gear"></i></a>
        </li>
      </ul>
    </div>
  </div>
</header>
<!--/프로필 영역  -->
