    <!--하단 네비게이션 메뉴-->
    <nav class="mainmenu">
      <h2 class="hidden">전체 메뉴</h2>
      <ul class="mainmenu-list">
        <a href="friend.html">
          <li>
            <i class="fa-solid fa-user"></i>
          </li>
        </a>	
        <a href="chat.html">
          <li>
          <i class="fa-regular fa-comment"></i>
          <span>5</span>
          </li>
        </a>
        <a href="find.html">
          <li>
          <i class="fa-solid fa-magnifying-glass"></i>
          </li>
        </a>
        <a href="#">
          <li>
            <i class="fa-solid fa-ellipsis"></i>
          </li>
        </a>
      </ul>
      </nav>
      <!--/하단 네비게이션 메뉴-->